# Removing pycache and venv
venv
__pycache__
**/__pycache__/*
*.pyc

# Ignoring all vscode files except run config
.vscode/*
!.vscode/launch.json

# Ignoring all Pycharm files except runConfiguration
.idea/*
!.idea/runConfigurations/*

# Ignore BOT_TOKEN
.env
