# Ignoring all vscode files except run config
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# Ignore node_modules
node_modules

# Ignore local env vars that apply only to `wrangler dev`
.dev.vars

# Ignore worker types
worker-configuration.d.ts

# Ignore DS_STORE on macs
.DS_Store

# Random files that may be generated (copied from workers template)
*-lock.*
*.lock
*.log
/dist
