[Unit]
Description=Discord Bot
After=network-online.target

[Service]
Type=simple

# I can't use any environment variables in these so modify these as you need
# on your own.

EnvironmentFile=/home/supershadoe/Documents/Projects/Ritsu/.deploy/env
WorkingDirectory=/home/supershadoe/Documents/Projects/Ritsu
ExecStart=/home/supershadoe/Documents/Projects/Ritsu/venv/bin/python -m ritsu

[Install]
WantedBy=default.target
